@import url(https://fonts.googleapis.com/css?family=Quicksand);
body {
  margin: 0;
  padding: 0;
  background: #ecf2f8;
  font-family: Quicksand, sans-serif;
}

#bungfrangki {
  background: #fff;
  position: relative;
  margin: 5% auto;
  padding:20px;
  width: 100%;
  max-width: 920px;
  overflow: hidden;
  -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
  -webkit-box-shadow: 18px 20px 0px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 18px 20px 0px 0px rgba(0,0,0,0.25);
box-shadow: 18px 20px 0px 0px rgba(0,0,0,0.25);
}
.post-body{
  border-bottom:4px dashed rgba(0,0,0,0.09);
}
#disqus_thread{margin:25px auto;  padding: 10px 0; background-color:#fff;}